/* generics */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



/* header */
header {
    background-color: white;

}

.name {
    display: inline-block;
    vertical-align: middle;
    font-size: 3.2rem;
}

.logo {
    vertical-align: middle;
    width: 70px;
}


body {
    background-color: #F6F8F9;
    font-family: sans-serif;
}


/* add task/section */
.container1 {
    width: 1100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 3%;
}

#addtask {
    background-color: #47ADF1;
    border: 1px solid #47ADF1;
    color: white;
    border-radius: 10%;
    width: 80px;
    height: 25px;
    margin-top: 15px;
    margin-left: 40px;
}

#addsection {
    background-color: white;
    border: 1px solid #999999;
    color: #999999;
    border-radius: 10%;
    width: 100px;
    height: 25px;
    margin-top: 15px;
    margin-left: 5px;
}

/* newtask/today/upcoming */
.container2 {
    width: 1100px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    background-color: white;
    border-radius: 1%;
}

.main-ul {
    list-style-type: none;
    margin-left: 40px;
    font-size: 1.8rem;
    padding-top: 30px;
}

.second-ul {
    list-style-type: none;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 5px;
}

.editorial {
    /* background-color: #47ADF1;
    border-radius: 10%;
    font-size: 0.6rem;
    color: #F6F8F9;
    margin-left: 5px; */

    /* height: 30px;
    width: 150px; */
    background: #47ADF1;
    border-radius: 10%;
    margin-left: 3px;
    font-size: 0.8rem;
    color: white;
    border: 5px solid #47ADF1;
    text-align: center;
}

.goals {
    background-color: #7747f1;
    border-radius: 10%;
    font-size: 0.8rem;
    color: #F6F8F9;
    margin-left: 5px;
    border: 5px solid #7747f1;
    text-align: center;
}

.recruiting {
    background-color: #47f1b0;
    border-radius: 10%;
    font-size: 0.8rem;
    color: #F6F8F9;
    margin-left: 5px;
    border: 5px solid #47f1b0;
    text-align: center;
}

.mobile {
    background-color: #f1aa47;
    border-radius: 10%;
    font-size: 0.8rem;
    color: #F6F8F9;
    margin-left: 5px;
    border: 5px solid #f1aa47;
    text-align: center;
}

.website {
    background-color: #d747f1;
    border-radius: 10%;
    font-size: 0.8rem;
    color: #F6F8F9;
    margin-left: 5px;
    border: 5px solid #d747f1;
    text-align: center;
}

.sales {
    background-color: #aaf147;
    border-radius: 10%;
    font-size: 0.8rem;
    color: #F6F8F9;
    margin-left: 5px;
    border: 5px solid #aaf147;
    text-align: center;

}


/* .circle{
    border-raadisu:50%;
    padding:1px 3px;
    font-size 0.8rem;
    margin-right: 5px;
    text-align:center;
    border: 1px solid;
}
 */

/* .check{
    border-color: green; 
}
*/

/* .check::after{
    content:'\2713';
    color: green;
    }
 */

/* c.ross::after{
    content:'\
    